<div class="dialog-content">
  <div class="sheet-wrapper">
    <h2>
      <b>{{title}}</b>
    </h2>

    <section class="sheet-attributes">

      <div class="cell grid-4">
        <label class="cell--title">
          {{localize "DX3rd.Skill"}}
        </label>
        <select id="skill" data-dtype="String">
          {{#select skill}}
          <option value="-">-</option>
          {{#each actorSkills as |value key|}}
          <option value="{{key}}">{{skill value.name}}</option>
          {{/each}}
          <option value="syndrome">{{localize "DX3rd.Syndrome"}}</option>
          <option value="text">{{localize "DX3rd.Text"}}</option>
          {{/select}}
        </select>
      </div>

      <div class="cell grid-4">
        <label class="cell--title">
          {{localize "DX3rd.Base"}}
        </label>
        <select id="base" data-dtype="String">
          {{#select base}}
          <option value="-">-</option>
          <option value="body">{{localize "DX3rd.Body"}}</option>
          <option value="sense">{{localize "DX3rd.Sense"}}</option>
          <option value="mind">{{localize "DX3rd.Mind"}}</option>
          <option value="social">{{localize "DX3rd.Social"}}</option>
          {{/select}}
        </select>
      </div>

      <div class="cell grid-4">
        <label class="cell--title">
          {{localize "DX3rd.RollType"}}
        </label>
        <select id="roll" data-dtype="String">
          <option value="major">{{localize "DX3rd.Major"}}</option>
          <option value="reaction">{{localize "DX3rd.Reaction"}}</option>
          <option value="dodge">{{localize "DX3rd.DodgeRoll"}}</option>
        </select>
      </div>

      <div class="cell grid-4">
        <label class="cell--title">
          {{localize "DX3rd.AttackRoll"}}
        </label>
        <select id="attackRoll" data-dtype="String">
          <option value="-">-</option>
          <option value="melee">{{localize "DX3rd.Melee"}}</option>
          <option value="ranged">{{localize "DX3rd.Ranged"}}</option>
        </select>
      </div>

      <div class="cell grid-full">
        <div class="cell--title">
          <label>{{localize "DX3rd.Effect"}}</label>

        </div>

        <ol class="items-list margin-top-10">
          {{#each effectList as |item id|}}
          <li class="item flexrow combo-item" data-item-id="{{item._id}}">
            <h4 class="item-name">
              <span class="item-label">
                <img src="{{item.img}}" class="echo-item" title="{{item.name}}" width="32" height="32" style="vertical-align : middle;margin-right:4px;">
                <span class="level">{{item.system.level.value}}</span>
                {{item.name}}

                <div class="item-controls">
                  <input type="checkbox" class="active-effect" data-id="{{item._id}}" >
                </div>
              </span>

            </h4>
            <table class="info-table">
              <tr>
                <th class="width-18">{{localize "DX3rd.Timing"}}</th>
                <th class="width-18">{{localize "DX3rd.Skill"}}</th>
                <th class="width-18">{{localize "DX3rd.Target"}}</th>
                <th class="width-18">{{localize "DX3rd.Range"}}</th>
                <th class="width-14">{{localize "DX3rd.Encroach"}}</th>
                <th class="width-14">{{localize "DX3rd.Limit"}}</th>
              </tr>
              <tr>
                <td class="width-18">{{timing item.system.timing}}</td>
                <td class="width-18">{{skillByKey ../actor item.system.skill}}</td>
                <td class="width-18">{{item.system.target}}</td>
                <td class="width-18">{{item.system.range}}</td>
                <td class="width-14">{{item.system.encroach.value}}</td>
                <td class="width-14">{{item.system.limit}}</td>
              </tr>
            </table>

            <div class="item-description">{{{item.system.description}}}</div>
          </li>
          {{/each}}

        </ol>
      </div>


    </section>
  </div>
</div>
<div class="dialog-buttons">
    {{#each buttons as |button id|}}
    <button class="dialog-button" data-button="{{id}}">
        {{{button.icon}}}
        {{{button.label}}}
    </button>
    {{/each}}
</div>