<div class="dialog-content">
  <div class="sheet-wrapper">
    <h2>
      <b>{{title}}</b>
    </h2>


    <section class="sheet-attributes">
      <div class="cell grid-full">
        <div class="cell--title">
          <label>{{localize "DX3rd.Weapon"}}</label>

        </div>

        <ol class="items-list margin-top-10">
          {{#each weaponList as |item id|}}
          <li class="item flexrow combo-item" data-item-id="{{item._id}}" draggable="true">
            <h4 class="item-name">
              <span class="item-label">
                <img src="{{item.img}}" class="echo-item" title="{{item.name}}" width="32" height="32" style="vertical-align : middle;margin-right:4px;">
                {{item.name}}

                <div class="item-controls">
                  <input type="checkbox" class="check-equipment" data-attack="{{item.data.attack}}" data-guard="{{item.data.guard}}" data-name="{{item.name}}">
                </div>
              </span>

            </h4>
            <table class="info-table">
              <tr>
                <th class="width-18">{{localize "DX3rd.Type"}}</th>
                <th class="width-18">{{localize "DX3rd.Skill"}}</th>
                <th class="width-18">{{localize "DX3rd.Range"}}</th>
                <th class="width-18">{{localize "DX3rd.Add"}}</th>
                <th class="width-14">{{localize "DX3rd.Attack"}}</th>
                <th class="width-14">{{localize "DX3rd.Guard"}}</th>
              </tr>
              <tr>
                <td class="width-18">{{timing item.data.type}}</td>
                <td class="width-18">{{skillByKey ../actor item.data.skill}}</td>
                <td class="width-18">{{item.data.range}}</td>
                <td class="width-18">{{item.data.add}}</td>
                <td class="width-14">{{item.data.attack}}</td>
                <td class="width-14">{{item.data.guard}}</td>
              </tr>
            </table>

            <div class="item-description">{{{item.data.description}}}</div>
          </li>
          {{/each}}

        </ol>
      </div>

      <div class="cell grid-full">
        <div class="cell--title">
          <label>{{localize "DX3rd.Vehicle"}}</label>
        </div>

        <ol class="items-list margin-top-10">
          {{#each vehicleList as |item id|}}
          <li class="item flexrow combo-item" data-item-id="{{item._id}}" draggable="true">
            <h4 class="item-name">
              <span class="item-label">
                <img src="{{item.img}}" class="echo-item" title="{{item.name}}" width="32" height="32" style="vertical-align : middle;margin-right:4px;">
                {{item.name}}

                <div class="item-controls">
                  <input type="checkbox" class="check-equipment" data-attack="{{item.data.attack}}" data-guard="0" data-name="{{item.name}}">
                </div>
              </span>

            </h4>
            <table class="info-table">
              <tr>
                <th class="width-18">{{localize "DX3rd.Type"}}</th>
                <th class="width-18">{{localize "DX3rd.Skill"}}</th>
                <th class="width-18">{{localize "DX3rd.Range"}}</th>
                <th class="width-18">{{localize "DX3rd.Add"}}</th>
                <th class="width-14">{{localize "DX3rd.Attack"}}</th>
                <th class="width-14">{{localize "DX3rd.Guard"}}</th>
              </tr>
              <tr>
                <td class="width-18">{{timing item.data.type}}</td>
                <td class="width-18">{{skillByKey ../actor item.data.skill}}</td>
                <td class="width-18">{{item.data.range}}</td>
                <td class="width-18">{{item.data.add}}</td>
                <td class="width-14">{{item.data.attack}}</td>
                <td class="width-14">{{item.data.guard}}</td>
              </tr>
            </table>

            <div class="item-description">{{{item.data.description}}}</div>
          </li>
          {{/each}}

        </ol>
      </div>


    </section>
  </div>
</div>
<div class="dialog-buttons">
    {{#each buttons as |button id|}}
    <button class="dialog-button" data-button="{{id}}">
        {{{button.icon}}}
        {{{button.label}}}
    </button>
    {{/each}}
</div>