<form class="{{cssClass}}" autocomplete="off">

  <div class="sheet-wrapper">
    <button style="display: none;">Input Button Click bypass</button>
    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <select class="grid-3 select-box" name="data.attributes.encroachment.type">
        {{#select data.attributes.encroachment.type}}
        <option value="-">{{localize "DX3rd.EncroachmentCore"}}</option>
        <option value="ea">{{localize "DX3rd.EncroachmentEA"}}</option>
        <option value="origin">{{localize "DX3rd.EncroachmentOrigin"}}</option>
        {{/select}}
      </select>

      <div class="progress-bar grid-11">
        <div class="dice-addon">
          <label><i class="fas fa-dice"></i> </label>
          <input type="text" name="data.attributes.encroachment.dice" value="{{data.attributes.encroachment.dice}}" disabled>
          <span class="slash"> | </span>
          <label><i class="fas fa-arrow-up"></i> </label>
          <input type="text" name="data.attributes.encroachment.level" value="{{data.attributes.encroachment.level}}" disabled>
        </div>
        <input type="text" style="{{encroach data.attributes.encroachment.value}}; font-size: 22px;" name="data.attributes.encroachment.value" value="{{data.attributes.encroachment.value}}">
      </div>
      <div class="grid-2 backtrack-btn">
        <button class="backtrack-roll">{{localize "DX3rd.BackTrack"}}</button>
      </div>
    </header>

    <section class="sheet-stat">
      <div class="grid-4">
        <div class="stat-box">
          <label class="title">{{localize "DX3rd.Name"}}</label>
          <input class="name" type="text" name="name" value="{{actor.name}}" placeholder="{{localize "DX3rd.CharName"}}">
        </div>
        <div class="stat-box">
          <label class="title">{{localize "DX3rd.CodeName"}}</label>
          <input class="name" type="text" name="data.codeName" value="{{data.codeName}}"placeholder="{{localize "DX3rd.CodeName"}}">
        </div>

      </div>

      <div class="grid-4 dice-info">
        <label class="title">
          {{localize "DX3rd.Dice"}}
          <input type="text" class="addon" value="{{data.attributes.critical.min}}" disabled>
        </label>
        <div class="flex">
          <select name="data.attributes.dice.view">
            {{#select data.attributes.dice.view}}
            <option value="major">{{localize "DX3rd.Major"}}</option>
            <option value="reaction">{{localize "DX3rd.Reaction"}}</option>
            <option value="dodge">{{localize "DX3rd.Dodge"}}</option>
            {{/select}}
          </select>
          <input type="text" id="dice" value="{{dice}}" disabled>
          <span class="slash"> DX </span>
          <input type="text" id="critical" value="{{critical}}" disabled>
          <span class="slash"> + </span>
          <input type="text" id="add" value="{{add}}" disabled>
        </div>
      </div>

      <div class="grid-2">
        <div class="stat-box">
          <label class="title">{{localize "DX3rd.EXP"}}</label>
          <div class="stat-list flexrow">
            <input class="stat" type="text" name="data.attributes.exp.total" value="{{data.attributes.exp.total}}" data-dtype="Number" disabled/>
            <span class="divider"><i class="fas fa-arrow-right"></i></span>
            <input class="stat" type="text" name="data.attributes.exp.now" value="{{data.attributes.exp.now}}" data-dtype="Number" disabled/>
          </div>
        </div>
        <div class="stat-box">
          <label class="title">{{localize "DX3rd.Saving"}}</label>
          <div class="stat-list flexrow">
            <input class="stat" type="text" name="data.attributes.saving.max" value="{{data.attributes.saving.max}}" data-dtype="Number" disabled/>
            <span class="divider"><i class="fas fa-arrow-right"></i></span>
            <input class="stat" type="text" name="data.attributes.saving.remain" value="{{data.attributes.saving.remain}}" data-dtype="Number" disabled/>
          </div>
        </div>
      </div>

      <div class="grid-img margin-top-10">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>
      </div>

      <div class="grid-8 stat-grid margin-top-10">
        <div class="stat-box">
          <label class="title">{{localize "DX3rd.HP"}}</label>
          <div class="stat-list flexrow">
            <input class="stat highlight" type="text" name="data.attributes.hp.value" value="{{data.attributes.hp.value}}" data-dtype="Number"/>
            <span class="divider">/</span>
            <input class="stat" type="text" value="{{data.attributes.hp.max}}" data-dtype="Number" disabled/>
          </div>
        </div>

        <div class="stat-box no-flex">
          <label class="title">{{localize "DX3rd.Armor"}}</label>
          <div class="stat-list flexrow">
            <input class="stat" type="text" name="data.attributes.armor.value" value="{{data.attributes.armor.value}}" disabled>
          </div>
        </div>

        <div class="stat-box no-flex">
          <label class="title">{{localize "DX3rd.Init"}}</label>
          <div class="stat-list flexrow">
            <input class="stat" type="text" name="data.attributes.init.value" value="{{data.attributes.init.value}}" disabled>
          </div>
        </div>

        <div class="stat-box">
          <label class="title">{{localize "DX3rd.Move"}}</label>
          <div class="stat-list flexrow">
            <input class="stat" type="text" name="data.attributes.move.battle" value="{{data.attributes.move.battle}}" disabled>
            <span class="divider">/</span>
            <input class="stat" type="text" name="data.attributes.move.full" value="{{data.attributes.move.full}}" disabled>
          </div>
        </div>

      </div>

      <div class="grid-8 main-grid margin-top-10">
        <div class="stat-box ability" data-ability-id="body">
          <label class="title ability-roll">{{localize "DX3rd.Body"}}</label>
          <div class="value">
            <input class="stat" type="text" name="data.attributes.body.value" value="{{data.attributes.body.value}}" disabled>
          </div>
          <div class="diamond">
            <input class="point highlight" type="text" name="data.attributes.body.point" value="{{data.attributes.body.point}}" data-dtype="Number"/>
          </div>
          
          <div class="skill-box">
          {{#each data.skills.body as |value key|}}
            <label class="skill" data-skill-id="{{key}}">
              <span class="title skill-roll">{{skill value.name}}</span>
              <a class="skill-edit"><i class="fas fa-edit" style="color: black;"></i></a>
            </label>
          {{/each}}
          </div>
        </div>

        <div class="stat-box no-flex ability" data-ability-id="sense">
          <label class="title ability-roll">{{localize "DX3rd.Sense"}}</label>
          <div class="value">
            <input class="stat" type="text" name="data.attributes.sense.value" value="{{data.attributes.sense.value}}" disabled>
          </div>
          <div class="diamond">
            <input class="point highlight" type="text" name="data.attributes.sense.point" value="{{data.attributes.sense.point}}" data-dtype="Number"/>
          </div>
          
          <div class="skill-box">
          {{#each data.skills.sense as |value key|}}
            <label class="skill" data-skill-id="{{key}}">
              <span class="title skill-roll">{{skill value.name}}</span>
              <a class="skill-edit"><i class="fas fa-edit" style="color: black;"></i></a>
            </label>
          {{/each}}
          </div>

        </div>

        <div class="stat-box no-flex ability" data-ability-id="mind">
          <label class="title ability-roll">{{localize "DX3rd.Mind"}}</label>
          <div class="value">
            <input class="stat" type="text" name="data.attributes.mind.value" value="{{data.attributes.mind.value}}" disabled>
          </div>
          <div class="diamond">
            <input class="point highlight" type="text" name="data.attributes.mind.point" value="{{data.attributes.mind.point}}" data-dtype="Number"/>
          </div>

          <div class="skill-box">
          {{#each data.skills.mind as |value key|}}
            <label class="skill" data-skill-id="{{key}}">
              <span class="title skill-roll">{{skill value.name}}</span>
              <a class="skill-edit"><i class="fas fa-edit" style="color: black;"></i></a>
            </label>
          {{/each}}
          </div>
          
        </div>

        <div class="stat-box ability" data-ability-id="social">
          <label class="title ability-roll">{{localize "DX3rd.Social"}}</label>
          <div class="value">
            <input class="stat" type="text" name="data.attributes.social.value" value="{{data.attributes.social.value}}" disabled>
          </div>
          <div class="diamond">
            <input class="point highlight" type="text" name="data.attributes.social.point" value="{{data.attributes.social.point}}" data-dtype="Number"/>
          </div>

          <div class="skill-box">
          {{#each data.skills.social as |value key|}}
            <label class="skill" data-skill-id="{{key}}">
              <span class="title skill-roll">{{skill value.name}}</span>
              <a class="skill-edit"><i class="fas fa-edit" style="color: black;"></i></a>
            </label>
          {{/each}}
          </div>
          
        </div>

      </div>

    </section>

    <section class="sheet-main">

      {{!-- Sheet Tab Navigation --}}
      <nav class="sheet-tabs tabs" data-group="primary">
          <a class="item" data-tab="description">{{localize "DX3rd.Description"}}</a>
          <a class="item" data-tab="combo">{{localize "DX3rd.Combo"}}</a>
          <a class="item" data-tab="effect">{{localize "DX3rd.Effect"}}</a>
          <a class="item" data-tab="rois">{{localize "DX3rd.Rois"}}</a>
          <a class="item" data-tab="equipment">{{localize "DX3rd.Equipment"}}</a>
          <a class="item" data-tab="record">{{localize "DX3rd.Record"}}</a>
          <a class="item" data-tab="applied">{{localize "DX3rd.Applied"}}</a>
      </nav>

      {{!-- Sheet Body --}}
      <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">

          <section class="sheet-attributes">
            <div class="cell grid-4">
              <div class="cell--title">
                <label>{{localize "DX3rd.Works"}}</label>

                <div class="item-controls plus-addon">
                  <button type="button" class="item-control item-create white-btn" data-type="works" >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>

              <ol class="items-list">
              {{#each workList as |item id|}}
                <li class="item flexrow description-item" data-item-id="{{item.id}}" draggable="true">
                  <h4 class="item-name">
                      <span class="item-label">{{item.name}}
                  </h4>

                  <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
                </li>
              {{/each}}
              </ol>
            </div>

            <div class="cell grid-12">
              <div class="cell--title">
                <div class="syndrome-type">
                  <label>[{{syndromeType}}]</label>
                </div>

                <label>{{localize "DX3rd.Syndrome"}}</label>
                <div class="item-controls plus-addon">
                  <button type="button" class="item-control item-create white-btn" data-type="syndrome" >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>

              <ol class="items-list flexrow">
              {{#each syndromeList as |item id|}}
                <li class="item flexrow description-item" data-item-id="{{item._id}}" draggable="true">
                  <h4 class="item-name">
                      <span class="item-label">{{item.name}} 
                  </h4>

                  <div class="item-controls flexrow">
                    <input class="item-control item-checkbox" type="checkbox" name="data.attributes.syndrome.{{item.id}}" {{#ifIn ../data.attributes.syndrome item._id}} checked {{/ifIn}} data-dtype="Boolean">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
                </li>
              {{/each}}
              </ol>
            </div>

            <div class="cell grid-2">
              <label class="cell--title">{{localize "DX3rd.Cover"}}</label>
              <input type="text" name="data.details.cover" value="{{data.details.cover}}">
            </div>

            <div class="cell grid-2">
              <label class="cell--title">{{localize "DX3rd.Ancestry"}}</label>
              <input type="text" name="data.details.ancestry" value="{{data.details.ancestry}}">
            </div>

            <div class="cell grid-2">
              <label class="cell--title">{{localize "DX3rd.Experience"}}</label>
              <input type="text" name="data.details.experience" value="{{data.details.experience}}">
            </div>

            <div class="cell grid-2">
              <label class="cell--title">{{localize "DX3rd.Meet"}}</label>
              <input type="text" name="data.details.meet" value="{{data.details.meet}}">
            </div>

            <div class="cell grid-2">
              <label class="cell--title">{{localize "DX3rd.Awaken"}}</label>
              <input type="text" name="data.details.awaken" value="{{data.details.awaken}}">
            </div>

            <div class="cell grid-2">
              <label class="cell--title">{{localize "DX3rd.Impulse"}}</label>
              <input type="text" name="data.details.impulse" value="{{data.details.impulse}}">
            </div>

            <div class="cell grid-2">
              <label class="cell--title">{{localize "DX3rd.Desire"}}</label>
              <input type="text" name="data.details.desire" value="{{data.details.desire}}">
            </div>

            <div class="cell grid-2">
              <label class="cell--title">{{localize "DX3rd.Encroachment"}}</label>
              <div class="flex">
                <input type="text" name="data.attributes.encroachment.init.input" value="{{data.attributes.encroachment.init.input}}">
                <span class="slash"><i class="fas fa-arrow-right"></i></span>
                <input type="text" name="data.attributes.encroachment.init.value" value="{{data.attributes.encroachment.init.value}}" disabled>
              </div>
            </div>

            <div class="cell cell--bio grid-full">
              <label class="cell--title">
                {{localize "DX3rd.Description"}}
              </label>
              {{!-- We're avoiding WYSIWYGs... for now... --}}
              {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>

          </section>
        </div>

        {{!-- Combo Tab --}}
        <div class="tab" data-group="primary" data-tab="combo">
          <section class="sheet-attributes">

            <div class="cell grid-full">
              <div class="cell--title">
                <label>{{localize "DX3rd.Combo"}}</label>

                <div class="item-controls plus-addon">
                  <button type="button" class="item-control item-create white-btn" data-type="combo" >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>

              <ol class="items-list margin-top-10">
                {{#each comboList as |item id|}}
                  <li class="item flexrow" data-item-id="{{item.id}}" draggable="true">
                    <h4 class="item-name">
                      <span class="echo-item" style="float:left;">
                          <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                      </span> 
                      <span class="item-label">{{item.name}}<br>
                        <span style="color : gray; font-size : smaller;">
                          {{localize "DX3rd.Timing"}} : {{timing item.data.timing}} / 
                          {{localize "DX3rd.Skill"}} : {{skillByKey ../actor item.data.skill}} / 
                          {{localize "DX3rd.Target"}} : {{item.data.target}} / 
                          {{localize "DX3rd.Range"}} : {{item.data.range}} /
                          {{localize "DX3rd.Encroach"}} : {{item.data.encroach.value}} /
                          {{localize "DX3rd.Limit"}} : {{item.data.limit}}

                          <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                        </span>
                      </span>
                    </h4>

                    <h4 class="item-addon">
                      <input type="checkbox" class="active-check" {{#if item.data.active.state}} checked {{/if}}>
                    </h4>
                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="item-description">{{{item.data.description}}}
                    </div>
                  </li>
                {{/each}}

              </ol>
            </div>

          </section>
        </div>

        {{!-- Effect Tab --}}
        <div class="tab" data-group="primary" data-tab="effect">
          <section class="sheet-attributes">


            <div class="cell grid-full">
              <div class="cell--title">
                <label>{{localize "DX3rd.Effect"}}</label>

                <div class="item-controls plus-addon">
                  <button type="button" class="item-control item-create white-btn" data-type="effect" data-effect-type="normal">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>

              <ol class="items-list margin-top-10">
                {{#each effectList as |item id|}}
                  <li class="item flexrow" data-item-id="{{item.id}}" draggable="true">
                    <h4 class="item-name">
                      <span class="echo-item" style="float:left;">
                          <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                      </span> 
                      <span class="item-label">[{{item.data.level.value}}] {{item.name}}<br>
                        <span style="color : gray; font-size : smaller;">
                          {{localize "DX3rd.Timing"}} : {{timing item.data.timing}} / 
                          {{localize "DX3rd.Skill"}} : {{skillByKey ../actor item.data.skill}} / 
                          {{localize "DX3rd.Target"}} : {{item.data.target}} / 
                          {{localize "DX3rd.Range"}} : {{item.data.range}} /
                          {{localize "DX3rd.Encroach"}} : {{item.data.encroach.value}} /
                          {{localize "DX3rd.Limit"}} : {{item.data.limit}}
                          <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                        </span>
                      </span>
                    </h4>

                    <h4 class="item-addon">
                      <input type="checkbox" class="active-check" {{#if item.data.active.state}} checked {{/if}}>
                    </h4>
                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="item-description">{{{item.data.description}}}
                    </div>
                  </li>
                {{/each}}

              </ol>
            </div>

            <div class="cell grid-full">
              <div class="cell--title">
                <label>{{localize "DX3rd.Easy"}} {{localize "DX3rd.Effect"}}</label>

                <div class="item-controls plus-addon">
                  <button type="button" class="item-control item-create white-btn" data-type="effect" data-effect-type="easy">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>

              <ol class="items-list margin-top-10">
                {{#each easyEffectList as |item id|}}
                  <li class="item flexrow" data-item-id="{{item.id}}" draggable="true">
                    <h4 class="item-name">
                      <span class="echo-item" style="float:left;">
                          <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                      </span> 
                      <span class="item-label">[{{item.data.level.value}}] {{item.name}}<br>
                        <span style="color : gray; font-size : smaller;">
                          {{localize "DX3rd.Timing"}} : {{timing item.data.timing}} / 
                          {{localize "DX3rd.Skill"}} : {{skillByKey ../actor item.data.skill}} / 
                          {{localize "DX3rd.Target"}} : {{item.data.target}} / 
                          {{localize "DX3rd.Range"}} : {{item.data.range}} /
                          {{localize "DX3rd.Encroach"}} : {{item.data.encroach.value}} /
                          {{localize "DX3rd.Limit"}} : {{item.data.limit}}
                          <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                        </span>
                      </span>
                    </h4>

                    <h4 class="item-addon">
                      <input type="checkbox" class="active-check" {{#if item.data.active.state}} checked {{/if}}>
                    </h4>
                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="item-description">{{{item.data.description}}}
                    </div>
                  </li>
                {{/each}}

              </ol>
            </div>



          </section>
        </div>


        {{!-- Rois Tab --}}
        <div class="tab" data-group="primary" data-tab="rois">
          <section class="sheet-attributes">

            <div class="cell grid-full">
              <div class="cell--title">
                <label>{{localize "DX3rd.Rois"}}</label>

                <div class="item-controls plus-addon">
                  <button type="button" class="item-control item-create white-btn" data-type="rois" data-rois-type="-" >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>

              <ol class="items-list margin-top-10">
                {{#each roisList as |item id|}}
                  <li class="item flexrow {{#if item.data.titus}} titus {{/if}}" data-item-id="{{item.id}}" draggable="true">
                    <h4 class="item-name">
                      <span class="echo-item" style="float:left;">
                          <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                      </span> 
                      <span class="item-label">[{{item.data.type}}] {{item.name}}<br>
                        <span style="color : gray; font-size : smaller;">
                          {{#if item.data.positive.state}}
                          {{localize "DX3rd.Positive"}} : {{item.data.positive.feeling}}
                          {{/if}}
                          {{#if item.data.negative.state}}
                          {{localize "DX3rd.Negative"}} : {{item.data.negative.feeling}}
                          {{/if}}

                          <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                        </span>
                      </span>
                    </h4>

                    <h4 class="item-addon">
                      {{#if item.data.sublimation}}
                        <input type="checkbox" class="active-titus" {{#if item.data.titus}} checked {{/if}}>
                        <input type="checkbox" class="active-sublimation" {{#if item.data.sublimation}} checked {{/if}}>
                      {{else}}
                        {{#if item.data.titus}}
                        <button class="btn-sublimation">{{localize "DX3rd.Sublimation"}}</button>
                        {{else}}
                        <button class="btn-titus">{{localize "DX3rd.Titus"}}</button>
                        {{/if}}
                      {{/if}}
                      
                    </h4>
                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="item-description">{{{item.data.description}}}
                    </div>
                  </li>
                {{/each}}

              </ol>
            </div>

            <div class="cell grid-full">
              <div class="cell--title">
                <label>{{localize "DX3rd.Memory"}}</label>

                <div class="item-controls plus-addon">
                  <button type="button" class="item-control item-create white-btn" data-type="rois" data-rois-type="M" >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>

              <ol class="items-list margin-top-10">
                {{#each memoryList as |item id|}}
                  <li class="item flexrow" data-item-id="{{item.id}}" draggable="true">
                    <h4 class="item-name">
                      <span class="echo-item" style="float:left;">
                          <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                      </span> 
                      <span class="item-label">[{{item.data.type}}] {{item.name}}<br>
                        <span style="color : gray; font-size : smaller;">
                          {{#if item.data.positive.state}}
                          {{localize "DX3rd.Positive"}} : {{item.data.positive.feeling}}
                          {{/if}}
                          {{#if item.data.negative.state}}
                          {{localize "DX3rd.Negative"}} : {{item.data.negative.feeling}}
                          {{/if}}

                          <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                        </span>
                      </span>
                    </h4>

                    <h4 class="item-addon">
                      <input type="checkbox" class="active-titus" {{#if item.data.titus}} checked {{/if}}>
                      <input type="checkbox" class="active-sublimation" {{#if item.data.sublimation}} checked {{/if}}>
                    </h4>
                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="item-description">{{{item.data.description}}}
                    </div>
                  </li>
                {{/each}}

              </ol>
            </div>

          </section>
        </div>





        {{!-- Equipment Tab --}}
        <div class="tab" data-group="primary" data-tab="equipment">
          <section class="sheet-attributes">

            <div class="cell grid-full">
              <div class="cell--title">
                <label>{{localize "DX3rd.Weapon"}}</label>

                <div class="item-controls plus-addon">
                  <button type="button" class="item-control item-create white-btn" data-type="weapon" >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>

              <ol class="items-list margin-top-10">
                {{#each weaponList as |item id|}}
                  <li class="item flexrow" data-item-id="{{item.id}}" draggable="true">
                    <h4 class="item-name">
                      <span class="echo-item" style="float:left;">
                          <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                      </span> 
                      <span class="item-label">{{item.name}}<br>
                        <span style="color : gray; font-size : smaller;">
                          {{localize "DX3rd.Type"}} : {{timing item.data.type}} /
                          {{localize "DX3rd.Skill"}} : {{skillByKey ../actor item.data.skill}} / 
                          {{localize "DX3rd.Range"}} : {{item.data.range}} /
                          {{localize "DX3rd.Add"}} : {{item.data.add}} / 
                          {{localize "DX3rd.Attack"}} : {{item.data.attack}} /
                          {{localize "DX3rd.Guard"}} : {{item.data.guard}}
                          <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                        </span>
                      </span>
                    </h4>

                    <h4 class="item-addon">
                      <input type="checkbox" class="active-equipment" {{#if item.data.equipment}} checked {{/if}}>
                    </h4>
                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="item-description">{{{item.data.description}}}
                    </div>
                  </li>
                {{/each}}

              </ol>
            </div>

            <div class="cell grid-full">
              <div class="cell--title">
                <label>{{localize "DX3rd.Protect"}}</label>

                <div class="item-controls plus-addon">
                  <button type="button" class="item-control item-create white-btn" data-type="protect" >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>

              <ol class="items-list margin-top-10">
                {{#each protectList as |item id|}}
                  <li class="item flexrow" data-item-id="{{item.id}}" draggable="true">
                    <h4 class="item-name">
                      <span class="echo-item" style="float:left;">
                          <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                      </span> 
                      <span class="item-label">{{item.name}}<br>
                        <span style="color : gray; font-size : smaller;">
                          {{localize "DX3rd.Dodge"}} : {{item.data.dodge}} /
                          {{localize "DX3rd.Init"}} : {{item.data.init}} / 
                          {{localize "DX3rd.Armor"}} : {{item.data.armor}}
                          <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                        </span>
                      </span>
                    </h4>

                    <h4 class="item-addon">
                      <input type="checkbox" class="active-equipment" {{#if item.data.equipment}} checked {{/if}}>
                    </h4>
                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="item-description">{{{item.data.description}}}
                    </div>
                  </li>
                {{/each}}

              </ol>
            </div>

            <div class="cell grid-full">
              <div class="cell--title">
                <label>{{localize "DX3rd.Connection"}}</label>

                <div class="item-controls plus-addon">
                  <button type="button" class="item-control item-create white-btn" data-type="connection" >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>

              <ol class="items-list margin-top-10">
                {{#each connectionList as |item id|}}
                  <li class="item flexrow" data-item-id="{{item.id}}" draggable="true">
                    <h4 class="item-name">
                      <span class="echo-item" style="float:left;">
                          <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                      </span> 
                      <span class="item-label">{{item.name}}<br>
                        <span style="color : gray; font-size : smaller;">
                          {{localize "DX3rd.Skill"}} : {{skillByKey ../actor item.data.skill}}
                          <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                        </span>
                      </span>
                    </h4>

                    <h4 class="item-addon">
                      <input type="checkbox" class="active-equipment" {{#if item.data.equipment}} checked {{/if}}>
                    </h4>
                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="item-description">{{{item.data.description}}}
                    </div>
                  </li>
                {{/each}}

              </ol>
            </div>

            <div class="cell grid-full">
              <div class="cell--title">
                <label>{{localize "DX3rd.Item"}}</label>

                <div class="item-controls plus-addon">
                  <button type="button" class="item-control item-create white-btn" data-type="item" >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>

              <ol class="items-list margin-top-10">
                {{#each itemList as |item id|}}
                  <li class="item flexrow" data-item-id="{{item.id}}" draggable="true">
                    <h4 class="item-name">
                      <span class="echo-item" style="float:left;">
                          <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                      </span> 
                      <span class="item-label">{{item.name}}<br>
                        <span style="color : gray; font-size : smaller;">
                          {{localize "DX3rd.Type"}} : {{timing item.data.type}}
                          <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                        </span>
                      </span>
                    </h4>
                    <h4 class="item-addon">
                      <input type="checkbox" class="active-equipment" {{#if item.data.equipment}} checked {{/if}}>
                    </h4>
                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="item-description">{{{item.data.description}}}
                    </div>
                  </li>
                {{/each}}

              </ol>
            </div>

            <div class="cell grid-full">
              <div class="cell--title">
                <label>{{localize "DX3rd.Vehicle"}}</label>

                <div class="item-controls plus-addon">
                  <button type="button" class="item-control item-create white-btn" data-type="vehicle" >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>

              <ol class="items-list margin-top-10">
                {{#each vehicleList as |item id|}}
                  <li class="item flexrow" data-item-id="{{item.id}}" draggable="true">
                    <h4 class="item-name">
                      <span class="echo-item" style="float:left;">
                          <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                      </span> 
                      <span class="item-label">{{item.name}}<br>
                        <span style="color : gray; font-size : smaller;">
                          {{localize "DX3rd.Skill"}} : {{skillByKey ../actor item.data.skill}} /
                          {{localize "DX3rd.Attack"}} : {{item.data.attack}} /
                          {{localize "DX3rd.Init"}} : {{item.data.init}} / 
                          {{localize "DX3rd.Armor"}} : {{item.data.armor}} /
                          {{localize "DX3rd.Move"}} : {{item.data.move}}
                          <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                        </span>
                      </span>
                    </h4>

                    <h4 class="item-addon">
                      <input type="checkbox" class="active-equipment" {{#if item.data.equipment}} checked {{/if}}>
                    </h4>
                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="item-description">{{{item.data.description}}}
                    </div>
                  </li>
                {{/each}}

              </ol>
            </div>


          </section>
        </div>

        {{!-- Record Tab --}}
        <div class="tab" data-group="primary" data-tab="record">
          <section class="sheet-attributes">

            <div class="cell grid-3">
              <div class="cell--title">
                <label>{{localize "DX3rd.EXPInit"}}</label>
              </div>
            </div>

            <div class="cell grid-3">
              <input type="text" class="horizon-input" name="data.attributes.exp.init" value="{{data.attributes.exp.init}}">
            </div>


            <div class="cell grid-3">
              <div class="cell--title">
                <label>{{localize "DX3rd.EXPAppend"}}</label>
              </div>
            </div>

            <div class="cell grid-3">
              <input type="text" class="horizon-input" name="data.attributes.exp.append" value="{{data.attributes.exp.append}}" readonly>
            </div>

            <div class="cell grid-2">
              <div class="cell--title">
                <label>{{localize "DX3rd.Stock"}}</label>
              </div>
            </div>

            <div class="cell grid-2">
              <input class="horizon-input" type="text" name="data.attributes.stock.value" value="{{data.attributes.stock.value}}">
            </div>


            

            <div class="cell grid-full">
              <div class="cell--title">
                <label>{{localize "DX3rd.Record"}}</label>
              </div>

              <div class="attributes width-100">
                <header class="attributes-header flexrow">
                  <span class="attribute-key">{{localize "DX3rd.Name"}}</span>
                  <span class="attribute-key" style="width:10%">{{localize "DX3rd.EXPAppend"}}</span>
                  <span class="attribute-value">{{localize "DX3rd.Memo"}}</span>
                  <a class="attribute-control" data-action="create" data-pos="main" data-type="attributes"><i class="fas fa-plus"></i></a>
                </header>
        
                <ol class="attributes-list">
                {{#each data.attributes.record as |attr key|}}
                  <li class="attribute flexrow" data-attribute="{{key}}">
                    <input type="hidden" name="data.attributes.record.{{key}}.key" value="{{key}}">
                    <input class="attribute-key" type="text" name="data.attributes.record.{{key}}.name" value="{{attr.name}}" data-dtype="String"/>
                    <input class="attribute-key" style="width:10%" type="text" name="data.attributes.record.{{key}}.exp" value="{{attr.exp}}" data-dtype="Number"/>
                    <input class="attribute-value" type="text" name="data.attributes.record.{{key}}.memo" value="{{attr.memo}}" data-dtype="String"/>
                    <a class="attribute-control" data-action="delete"><i class="fas fa-trash"></i></a>
                  </li>
                {{/each}}
                </ol>
              </div>


            </div>

          </section>
        </div>


        {{!-- Applied Tab --}}
        <div class="tab" data-group="primary" data-tab="applied">
          <section class="sheet-attributes">

            <div class="cell grid-full">
              <div class="cell--title">
                <label>{{localize "DX3rd.Applied"}}</label>
              </div>

              <ol class="items-list margin-top-10">
                {{#each applied as |item id|}}
                  <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                    <h4 class="item-name">
                      <span class="echo-item" style="float:left;">
                          <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                      </span> 
                      <span class="item-label">[{{item.data.level.value}}] {{item.name}}<br>
                        <span style="color : gray; font-size : smaller;">
                          {{localize "DX3rd.Timing"}} : {{timing item.data.timing}} / 
                          {{localize "DX3rd.Target"}} : {{item.data.target}} / 
                          {{localize "DX3rd.Range"}} : {{item.data.range}} /
                          {{localize "DX3rd.Encroach"}} : {{item.data.encroach.value}} /
                          {{localize "DX3rd.Limit"}} : {{item.data.limit}} / {{localize "DX3rd.DisableTiming"}} : {{disable item.disable}}
                          <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                        </span>
                      </span>
                      </span>
                    </h4>

                    <h4 class="item-addon">
                      <button type="button" class="show-applied" style="width: auto"><i class="fas fa-eye"></i></button>
                      <button type="button" class="remove-applied" style="width: auto"><i class="fas fa-trash"></i></button>
                    </h4>
                    <div class="item-description">{{{item.data.description}}}
                    </div>
                  </li>
                {{/each}}

              </ol>
            </div>

          </section>
        </div>



      </section>
    </section>

  </div>
</form>