<form class="{{cssClass}} item" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields flexrow">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-navigation sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "DX3rd.Description" }}</a>
    <a class="item" data-tab="effect">{{localize "DX3rd.Effect" }}</a>
    <a class="item" data-tab="weapon">{{localize "DX3rd.Weapon" }}</a>
    <a class="item" data-tab="attributes">{{localize "DX3rd.Attributes" }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div class="sheet-wrapper margin-top-10">
        <section class="sheet-attributes">
          <div class="cell grid-4">
            <label class="cell--title">
              {{localize "DX3rd.Skill"}}
            </label>
            <select name="system.skill" class="change-skill">
              {{#select system.skill}}
              <option value="-">-</option>
              {{#each system.actorSkills as |value key|}}
              <option value="{{key}}">{{skill value.name}}</option>
              {{/each}}
              <option value="syndrome">{{localize "DX3rd.Syndrome"}}</option>
              <option value="text">{{localize "DX3rd.Text"}}</option>
              {{/select}}
            </select>
          </div>

          <div class="cell grid-4">
            <label class="cell--title">
              {{localize "DX3rd.Base"}}
            </label>
            <select name="system.base" id="base" data-dtype="String">
              {{#select system.base}}
              <option value="-">-</option>
              <option value="body">{{localize "DX3rd.Body"}}</option>
              <option value="sense">{{localize "DX3rd.Sense"}}</option>
              <option value="mind">{{localize "DX3rd.Mind"}}</option>
              <option value="social">{{localize "DX3rd.Social"}}</option>
              {{/select}}
            </select>
          </div>

          <div class="cell grid-4">
            <label class="cell--title">
              {{localize "DX3rd.RollType"}}
            </label>
            <select name="system.roll" data-dtype="String">
              {{#select system.roll}}
              <option value="-">-</option>
              <option value="major">{{localize "DX3rd.Major"}}</option>
              <option value="reaction">{{localize "DX3rd.Reaction"}}</option>
              <option value="dodge">{{localize "DX3rd.DodgeRoll"}}</option>
              {{/select}}
            </select>
          </div>

          <div class="cell grid-4">
            <label class="cell--title">
              {{localize "DX3rd.Difficulty"}}
            </label>
            <input type="text" name="system.difficulty" value="{{system.difficulty}}" data-dtype="String"/>
          </div>

          <div class="cell grid-4">
            <label class="cell--title">
              {{localize "DX3rd.Timing"}}
            </label>
            <select name="system.timing">
              {{#select system.timing}}
              <option value="-">-</option>
              <option value="minor">{{localize "DX3rd.Minor"}}</option>
              <option value="major">{{localize "DX3rd.Major"}}</option>
              <option value="reaction">{{localize "DX3rd.Reaction"}}</option>
              <option value="major-reaction">{{localize "DX3rd.Major"}} / {{localize "DX3rd.Reaction"}}</option>
              <option value="auto">{{localize "DX3rd.Auto"}}</option>
              <option value="setup">{{localize "DX3rd.Setup"}}</option>
              <option value="cleanup">{{localize "DX3rd.Cleanup"}}</option>
              <option value="initiative">{{localize "DX3rd.Initiative"}}</option>
              <option value="always">{{localize "DX3rd.Always"}}</option>
              {{/select}}
            </select>
          </div>

          <div class="cell grid-4">
            <label class="cell--title">
              {{localize "DX3rd.Range"}}
            </label>
            <input type="text" name="system.range" value="{{system.range}}" data-dtype="String"/>
          </div>

          <div class="cell grid-4 space-between">
            <label class="cell--title">
              <span style="flex-grow: 1; text-align: center;">{{localize "DX3rd.Target"}}</span>
              <input type="checkbox" class="cell--crit" name="system.getTarget" {{#if system.getTarget}} checked {{/if}}>
            </label>
            <input type="text" name="system.target" value="{{system.target}}" data-dtype="String"/>
          </div>
          
          
          <div class="cell grid-4">
            <label class="cell--title">
              {{localize "DX3rd.Limit"}}
            </label>
            <input type="text" name="system.limit" value="{{system.limit}}" data-dtype="String"/>
          </div>

        </section>

        <div class="cell cell--bio">
          <label class="cell--title">
            {{localize "DX3rd.Description"}}
          </label>
          {{!-- We're avoiding WYSIWYGs... for now... --}}
          {{editor enrichedBiography target="system.description" button=true editable=editable }}
        </div>
      </div>

    </div>

    {{!-- Effect Tab --}}
    <div class="tab" data-group="primary" data-tab="effect">
      <div class="sheet-wrapper">

        <div class="add-skills">
          <select name="system.effectTmp" id="actor-effect">
            {{#select system.effectTmp}}
            {{#each actorEffect as |item id|}}
            <option value="{{id}}">{{item}}</option>
            {{/each}}
            {{/select}}
          </select>
          <button class="add-effect"><i class="fas fa-arrow-down"></i></button>
        </div>
        <input type="hidden" name="system.effect" value="-">
        <input type="hidden" name="system.effect" value="-">

        <section class="sheet-attributes margin-top-10">

          <div class="cell grid-4">
            <label class="cell--title">
              {{localize "DX3rd.Attack"}}
            </label>
            <input type="text" value="{{system.attack.value}}" disabled>
          </div>

          <div class="cell grid-8 space-between">
            <label class="cell--title">
              {{localize "DX3rd.Dice"}}
              <input type="text" class="cell--crit" value="{{system.critical.min}}" disabled>
            </label>
            <div class="flex">
              <input type="text" value="{{system.dice.value}}" disabled>
              <span class="slash"> DX </span>
              <input type="text" value="{{system.critical.value}}" disabled>
              <span class="slash"> + </span>
              <input type="text" value="{{system.add.value}}" disabled>
            </div>
          </div>

          <div class="cell grid-4">
            <label class="cell--title">
              {{localize "DX3rd.Encroach"}}
            </label>
            <input type="text" value="{{system.encroach.value}}" data-dtype="Number" disabled/>
          </div>

        </section>

        <ol class="items-list">
        {{#each system.effectItems as |item id|}}
          <li class="item flexrow combo-item" data-item-id="{{id}}">
            <input type="hidden" name="system.effect" value="{{id}}">
            <h4 class="item-name">
              <span class="item-label">
                <span class="level">{{item.system.level.value}}</span>
                {{item.name}}

                <div class="item-controls">
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </span>

            </h4>
            <table class="info-table">
              <tr>
                <th class="width-18">{{localize "DX3rd.Timing"}}</th>
                <th class="width-18">{{localize "DX3rd.Skill"}}</th>
                <th class="width-18">{{localize "DX3rd.Target"}}</th>
                <th class="width-18">{{localize "DX3rd.Range"}}</th>
                <th class="width-14">{{localize "DX3rd.Encroach"}}</th>
                <th class="width-14">{{localize "DX3rd.Limit"}}</th>
              </tr>
              <tr>
                <td class="width-18">{{timing item.system.timing}}</td>
                <td class="width-18">{{skillByKey ../actor item.system.skill}}</td>
                <td class="width-18">{{item.system.target}}</td>
                <td class="width-18">{{item.system.range}}</td>
                <td class="width-14">{{item.system.encroach.value}}</td>
                <td class="width-14">{{item.system.limit}}</td>
              </tr>
            </table>

            <div class="item-description">{{{item.system.description}}}</div>
          </li>
        {{/each}}
        </ol>
      </div>
    </div>

    {{!-- Weapon Tab --}}
    <div class="tab" data-group="primary" data-tab="weapon">
      <div class="sheet-wrapper">

        <div class="add-skills">
          <select name="system.weaponTmp" id="actor-weapon">
            {{#select system.weaponTmp}}
            {{#each actorWeapon as |item id|}}
            <option value="{{id}}">{{item}}</option>
            {{/each}}
            {{/select}}
          </select>
          <button class="add-weapon"><i class="fas fa-arrow-down"></i></button>
        </div>
        <input type="hidden" name="system.weapon" value="-">
        <input type="hidden" name="system.weapon" value="-">

        <table class="margin-top-10">
          <tr>
            <th>
              {{localize "DX3rd.AttackRoll"}}
            </th>
            <td>
              <select name="system.attackRoll" data-dtype="String">
                {{#select system.attackRoll}}
                <option value="-">-</option>
                <option value="melee">{{localize "DX3rd.Melee"}}</option>
                <option value="ranged">{{localize "DX3rd.Ranged"}}</option>
                {{/select}}
              </select> 
            </td>

            <th>{{localize "DX3rd.WeaponSelect"}}</th>
            <td>
              <input type="checkbox" name="system.weaponSelect" data-dtype="Boolean" {{#if system.weaponSelect}} checked {{/if}}>
            </td>
          </tr>
        </table>


        <ol class="items-list">
        {{#each system.weaponItems as |item id|}}
          <li class="item flexrow combo-item" data-item-id="{{id}}" draggable="true">
            <input type="hidden" name="system.weapon" value="{{id}}">
            <h4 class="item-name">
              <span class="item-label">
                {{item.name}}

                <div class="item-controls">
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </span>

            </h4>
            <table class="info-table">
              <tr>
                <th class="width-18">{{localize "DX3rd.Type"}}</th>
                <th class="width-18">{{localize "DX3rd.Skill"}}</th>
                <th class="width-18">{{localize "DX3rd.Range"}}</th>
                <th class="width-18">{{localize "DX3rd.Add"}}</th>
                <th class="width-14">{{localize "DX3rd.Attack"}}</th>
                <th class="width-14">{{localize "DX3rd.Guard"}}</th>
              </tr>
              <tr>
                <td class="width-18">{{skillByKey ../actor item.system.type}}</td>
                <td class="width-18">{{skillByKey ../actor item.system.skill}}</td>
                <td class="width-18">{{item.system.range}}</td>
                <td class="width-18">{{item.system.add}}</td>
                <td class="width-14">{{item.system.attack}}</td>
                <td class="width-14">{{item.system.guard}}</td>
              </tr>
            </table>

            <div class="item-description">{{{item.system.description}}}</div>
          </li>
        {{/each}}
        </ol>
      </div>
    </div>


    {{!-- Attributes Tab --}}
    <div class="tab" data-group="primary" data-tab="attributes">
      <div class="sheet-wrapper margin-top-10">
        <table>
          <tr>
            <th><label for="system.macro">{{localize "DX3rd.Macro"}}</label></th>
            <td colspan="3"><input type="text" name="system.macro" data-dtype="String" value="{{system.macro}}"></td>
          </tr>
          <tr>
            <th><span>{{localize "DX3rd.Active"}}</span></th>
            <td><input type="checkbox" name="system.active.state" {{#if system.active.state}} checked {{/if}}></td>
            <th><span>{{localize "DX3rd.DisableTiming"}}</span></th>
            <td>
              <select name="system.active.disable" data-dtype="String">
                {{#select system.active.disable}}
                <option value="-">-</option>
                <option value="notCheck">{{localize "DX3rd.NotCheck"}}</option>
                <option value="roll">{{localize "DX3rd.AfterRoll"}}</option>
                <option value="major">{{localize "DX3rd.AfterMajor"}}</option>
                <option value="reaction">{{localize "DX3rd.AfterReaction"}}</option>
                <option value="round">{{localize "DX3rd.AfterRound"}}</option>
                <option value="battle">{{localize "DX3rd.AfterScene"}}</option>
                {{/select}}
              </select>
            </td>
          </tr>
        </table>


        <div class="attributes">
          <header class="attributes-header flexrow">
            <span class="attribute-key">{{localize "DX3rd.Name"}}</span>
            <span class="attribute-value">{{localize "DX3rd.Value"}}</span>
            <a class="attribute-control" data-action="create" data-pos="main" data-type="attributes"><i class="fas fa-plus"></i></a>
          </header>
    
          <ol class="attributes-list">
          {{#each system.attributes as |attr key|}}
            <li class="attribute flexrow" data-attribute="{{key}}">
              <select class="attribute-key" name="system.attributes.{{key}}.key" data-dtype="String">
                {{#select key}}
                <option value="-">-</option>
                <option value="attack">{{localize "DX3rd.Attack"}}</option>
                <option value="damage_roll">{{localize "DX3rd.DamageRoll"}}</option>
                <option value="dice">{{localize "DX3rd.Dice"}}</option>
                <option value="add">{{localize "DX3rd.Add"}}</option>
                <option value="critical">{{localize "DX3rd.Critical"}}</option>
                <option value="critical_min">{{localize "DX3rd.CriticalMin"}}</option>

                <option value="hp">{{localize "DX3rd.HP"}}</option>
                <option value="init">{{localize "DX3rd.Init"}}</option>
                <option value="armor">{{localize "DX3rd.Armor"}}</option>
                <option value="guard">{{localize "DX3rd.Guard"}}</option>

                <option value="saving_max">{{localize "DX3rd.Saving"}}</option>
                <option value="stock_point">{{localize "DX3rd.Stock"}}</option>

                <option value="battleMove">{{localize "DX3rd.BattleMove"}}</option>
                <option value="fullMove">{{localize "DX3rd.FullMove"}}</option>

                <option value="major_dice">{{localize "DX3rd.MajorDice"}}</option>
                <option value="major">{{localize "DX3rd.MajorAdd"}}</option>
                <option value="major_critical">{{localize "DX3rd.MajorCritical"}}</option>
                <option value="reaction_dice">{{localize "DX3rd.ReactionDice"}}</option>
                <option value="reaction">{{localize "DX3rd.ReactionAdd"}}</option>
                <option value="reaction_critical">{{localize "DX3rd.ReactionCritical"}}</option>
                <option value="dodge_dice">{{localize "DX3rd.DodgeDice"}}</option>
                <option value="dodge">{{localize "DX3rd.DodgeAdd"}}</option>
                <option value="dodge_critical">{{localize "DX3rd.DodgeCritical"}}</option>

                <option value="body_add">{{localize "DX3rd.BodyAdd"}}</option>
                <option value="body_dice">{{localize "DX3rd.BodyDice"}}</option>
                <option value="sense_add">{{localize "DX3rd.SenseAdd"}}</option>
                <option value="sense_dice">{{localize "DX3rd.SenseDice"}}</option>
                <option value="mind_add">{{localize "DX3rd.MindAdd"}}</option>
                <option value="mind_dice">{{localize "DX3rd.MindDice"}}</option>
                <option value="social_add">{{localize "DX3rd.SocialAdd"}}</option>
                <option value="social_dice">{{localize "DX3rd.SocialDice"}}</option>

                <option value="casting_dice">{{localize "DX3rd.CastingDice"}}</option>
                <option value="casting_add">{{localize "DX3rd.CastingAdd"}}</option>
                {{/select}}
              </select>

              <input class="attribute-value" type="text" name="system.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="String"/>
              <a class="attribute-control" data-action="delete"><i class="fas fa-trash"></i></a>
            </li>
          {{/each}}
          </ol>
        </div>

      </div>
    </div>


  </section>


</form>
