<form class="{{cssClass}} item" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="sheet-wrapper margin-top-10">
      <section class="sheet-attributes">
        <div class="cell grid-4">
          <label class="cell--title">
            {{localize "DX3rd.Body"}}
          </label>
          <input type="text" name="system.attributes.body.value" value="{{system.attributes.body.value}}" data-dtype="Number"/>
        </div>

        <div class="cell grid-4">
          <label class="cell--title">
            {{localize "DX3rd.Sense"}}
          </label>
          <input type="text" name="system.attributes.sense.value" value="{{system.attributes.sense.value}}" data-dtype="Number"/>
        </div>

        <div class="cell grid-4">
          <label class="cell--title">
            {{localize "DX3rd.Mind"}}
          </label>
          <input type="text" name="system.attributes.mind.value" value="{{system.attributes.mind.value}}" data-dtype="Number"/>
        </div>

        <div class="cell grid-4">
          <label class="cell--title">
            {{localize "DX3rd.Social"}}
          </label>
          <input type="text" name="system.attributes.social.value" value="{{system.attributes.social.value}}" data-dtype="Number"/>
        </div>

      </section>

      <div class="cell cell--bio">
        <label class="cell--title">
          {{localize "DX3rd.Description"}}
        </label>
        {{!-- We're avoiding WYSIWYGs... for now... --}}
        {{editor enrichedBiography target="system.description" button=true editable=editable }}
      </div>
    </div>
  </section>


</form>
